@import url("../../../variables.css");

.dashboard {
  color: var(--blue);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard .section {
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  background-color: var(--white);
}

.dashboard .dashboard-title {
  text-align: center;
  font-size: 2rem;
  color: var(--blue);
}

.dashboard .section-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 15px; /* Adds spacing between cards */
}

.dashboard .card {
  background: #21435c;
  color: var(--white);
  border-radius: 10px;
  padding: 10px;
  width: 100%; /* Full width by default */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  flex: 1 1 calc(50% - 20px); /* Two cards per row on medium screens */
}

@media (min-width: 768px) {
  .dashboard .card {
    flex: 1 1 calc(33.333% - 20px); /* Three cards per row on tablets */
  }
}

@media (min-width: 1024px) {
  .dashboard .card {
    flex: 1 1 calc(24% - 20px); /* Four cards per row on large screens */
  }
}

.dashboard .wide-card {
  justify-content: center;
}

.dashboard .card .title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

.dashboard .card .value {
  font-size: 2rem;
}

.dashboard .positive {
  color: #39ff14;
}

.dashboard .negative {
  color: #ff4136;
}

.dashboard .charts-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 1200px) {
  .dashboard .charts-container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .dashboard .charts-container .apexcharts-legend {
    display: none;
  }
}

.dashboard .charts-container .section {
  flex: 1;
}
.dashboard .table-container .ant-table {
  border-color: var(--border-color) !important;
}

.dashboard .table-container .ant-table-thead .ant-table-cell {
  background-color: var(--blue) !important;
  color: var(--white);
  border-color: var(--border-color) !important;
}

.dashboard .table-container .ant-table-cell {
  padding: 5px !important;
  border-color: var(--border-color) !important;
}
